@import './variables';
@import './layout';

.header{
  display: flex;
  height: 50px;
  background-color: map-get($colors, 'primary');
  > .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.header__logo{
  flex: 0;
  min-width: 72px;
  > img.logo_ML{

  }
}

.header__search{
  flex: 1;
}